.card_derecha_superior{
    background-color: #1E213A;
    width: 120px;
    height: 177px;
    top: 148px;
    left: 613px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.grados_card{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.grados_numero{
    display: flex;
}

.img_5images{
    height: 62px;
}

.grados_color{
    color: #A09FB1;
}