*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.izquierda{
    background-color: #1E213A;
    color: white;
    width: 30%;
    /* height: 900px; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.main_all{
    display: flex;
    height: 100vh;
}
.derecha{
    background-color: #100E1D;
    color: white;
    width: 70%;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.derecha_arriba{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor_btn_arriba{
    display: flex;
    justify-content: space-between;
}

.grados{
    display: flex;
    justify-content: center;
}

.letras_transparente{
    color: #A09FB1;
}

.pie_pagina{
    display: flex;
    justify-content: center;
}

/* .derecha{
    display: flex;
} */

.contenedor_modal{
    border: 3px solid gold;
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #1E213A;
   }

   .derecha_abajo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

   }

   .fecha{
    display: flex;
    justify-content: center;
   }

.contenedor_imagenes{
    display: flex;
    justify-content: space-evenly;
}
   